.sweepList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 12px;
  font-weight: normal;
  color: #f4f4f4;
}

.sweepItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid #a4a4a4;
}

.sweepItem:last-child {
  border-bottom: none;
  padding-bottom: 15px;
}

.sweepLogo {
  height: 22px;
  width: 30px;
  margin-right: 10px;
}

.sweepName {
  text-transform: uppercase;
  color: #f90;
}

.sweepLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@media (min-width: 400px) {
  .sweepList {
    font-size: 13px;
  }
}

@media (min-width: 700px) {
  .sweepList {
    font-size: 16px;
  }
}
