.containerNav {
  background: #414141;
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 16px;
  color: #e6e6e6;
  text-decoration: none;
}

.active {
  color: #f90;
}

@media (min-width: 360px) {
  .list {
    width: 250px;
  }
  .link {
    font-size: 18px;
  }
}

@media (min-width: 700px) {
  .list {
    width: 350px;
  }
  .link {
    font-size: 20px;
  }
}
